<div class="container" *ngIf="users else loading">
  <div class="has-text-centered has-margin-bottom-20">
    <a class="button is-medium is-primary" routerLink="/admin/user">
      <span class="icon">
        <i class="fas fa-user-plus"></i>
      </span>
      <span>Nuevo usuario</span>
    </a>
  </div>

  <div class="columns is-multiline is-centered">
    <div class="column is-6-tablet is-4-desktop" *ngFor="let user of users; let i = index">
      <app-user-data [user]="user" (deleted)="delete(i)"></app-user-data>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="title has-text-centered is-5 has-text-grey-light">Cargando...</div>
</ng-template>
