@import '~src/theme/utilities/variables';
@import '~bulma/sass/utilities/mixins';

.app-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  max-width: 460px;
  width: 100%;

  @include mobile {
    box-shadow: none;
  }
}

.image {
  max-width: 130px;
  margin: 0 auto;
}
