<section class="section">
  <div class="container" *ngIf="users else loading">
    <div class="has-text-centered has-margin-bottom-20">
      <a class="button is-medium is-primary" routerLink="/user">
        <span class="icon">
          <i class="fas fa-user-plus"></i>
        </span>
        <span>Nuevo usuario</span>
      </a>
    </div>

    <div class="columns is-multiline is-centered">
      <div class="column is-6-tablet is-4-desktop" *ngFor="let user of users; let i = index">
        <app-user-data [user]="user"></app-user-data>
        <!-- <app-user-data [user]="user" (deleted)="deleteCustomer(i)"></app-customer-data> -->
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <h1 class="has-text-centered is-size-5 has-text-grey-lighter">Cargando...</h1>
</ng-template>
