<div class="container">
  <h1 class="is-size-1 has-text-centered has-margin-bottom-30">Usuario</h1>
  <form [formGroup]="form" (submit)="onSubmit()" #f="ngForm" novalidate *ngIf="loaded else loading">
    <div class="columns">
      <div class="column is-10-desktop is-offset-1-desktop">
        <div class="columns is-multiline">
          <div class="column is-6">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input is-medium" type="text" formControlName="name" placeholder="Nombre">
                <span class="icon is-small is-left has-text-grey-light">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right has-text-primary" *ngIf="name.valid">
                  <i class="fas fa-check"></i>
                </span>
                <span class="icon is-small is-right has-text-danger" *ngIf="name.invalid && (name.dirty || name.touched || f.submitted)">
                  <i class="fas fa-times"></i>
                </span>
              </p>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input is-medium" type="text" formControlName="lastname" placeholder="Apellido">
                <span class="icon is-small is-left has-text-grey-light">
                  <i class="fas fa-address-card"></i>
                </span>
                <span class="icon is-small is-right has-text-primary" *ngIf="lastname.valid">
                  <i class="fas fa-check"></i>
                </span>
                <span class="icon is-small is-right has-text-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched || f.submitted)">
                  <i class="fas fa-times"></i>
                </span>
              </p>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input is-medium" type="text" formControlName="phone" placeholder="Teléfono">
                <span class="icon is-small is-left has-text-grey-light">
                  <i class="fas fa-phone"></i>
                </span>
                <span class="icon is-small is-right has-text-primary" *ngIf="phone.valid">
                  <i class="fas fa-check"></i>
                </span>
                <span class="icon is-small is-right has-text-danger" *ngIf="phone.invalid && (phone.dirty || phone.touched || f.submitted)">
                  <i class="fas fa-times"></i>
                </span>
              </p>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input is-medium" type="text" formControlName="birthday" placeholder="yyyy-mm-dd">
                <span class="icon is-small is-left has-text-grey-light">
                  <i class="fas fa-birthday-cake"></i>
                </span>
                <span class="icon is-small is-right has-text-primary" *ngIf="birthday.valid">
                  <i class="fas fa-check"></i>
                </span>
                <span class="icon is-small is-right has-text-danger" *ngIf="birthday.invalid && (birthday.dirty || birthday.touched || f.submitted)">
                  <i class="fas fa-times"></i>
                </span>
              </p>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <div class="control has-icons-left">
                <div class="select is-medium is-fullwidth" [ngClass]="{ 'is-danger': role.invalid && (role.dirty || role.touched || f.submitted) }">
                  <select formControlName="role">
                    <option value="admin">Administrador</option>
                    <option value="superadmin">Super administrador</option>
                  </select>
                </div>
                <span class="icon is-small is-left has-text-grey-light">
                  <i class="fas fa-user-tag"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input is-medium" type="email" formControlName="email" placeholder="Correo electrónico">
                <span class="icon is-small is-left has-text-grey-light">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right has-text-primary" *ngIf="email.valid">
                  <i class="fas fa-check"></i>
                </span>
                <span class="icon is-small is-right has-text-danger" *ngIf="email.invalid && (email.dirty || email.touched || f.submitted)">
                  <i class="fas fa-times"></i>
                </span>
              </p>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input is-medium" type="password" formControlName="password" placeholder="Contraseña">
                <span class="icon is-small is-left has-text-grey-light">
                  <i class="fas fa-lock"></i>
                </span>
                <span class="icon is-small is-right has-text-primary" *ngIf="password.valid">
                  <i class="fas fa-check"></i>
                </span>
                <span class="icon is-small is-right has-text-danger" *ngIf="password.invalid && (password.dirty || password.touched || f.submitted)">
                  <i class="fas fa-times"></i>
                </span>
              </p>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input is-medium" type="password" formControlName="password_confirmation" placeholder="Confirmar contraseña">
                <span class="icon is-small is-left has-text-grey-light">
                  <i class="fas fa-lock"></i>
                </span>
                <span class="icon is-small is-right has-text-danger" *ngIf="confirmation.invalid && (confirmation.dirty || confirmation.touched || f.submitted)">
                  <i class="fas fa-times"></i>
                </span>
              </p>
            </div>
          </div>
          <div class="column is-12">
            <div class="field">
              <button class="button is-medium is-fullwidth is-primary" [ngClass]="{ 'is-loading': sending }" type="submit">Guardar</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>

<ng-template #loading>
  <h1 class="has-text-centered is-size-5 has-text-grey-light">Cargando...</h1>
</ng-template>
