$padding-sizes: (10, 40);
$padding-names: ('top', 'right', 'bottom', 'left');

.has-padding- {
  @each $size in $padding-sizes {
    &#{$size} {
      padding: #{$size}px !important;

      @include mobile {
        &-mobile {
          padding: #{$size}px !important;
        }
      }

      @include tablet {
        &-tablet {
          padding: #{$size}px !important;
        }
      }
    }
  }

  @each $position in $padding-names {
    $i: index($padding-names, $position);

    @each $size in $padding-sizes {
      &#{$position}-#{$size} {
        padding-#{nth($padding-names, $i)}: #{$size}px !important;
      }
    }
  }
}
