<div class="box has-text-centered">
  <span class="icon is-large has-text-grey-lighter">
    <i class="fas fa-3x fa-user"></i>
  </span>
  <div class="has-text-weight-bold is-size-4 has-margin-bottom-10 is-capitalized">{{ user.name }} {{ user.lastname }}</div>

  <div class="item is-flex has-margin-bottom-10">
    <span class="icon has-text-grey-light">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="has-text-grey has-text-weight-bold">{{ user.email }}</span>
  </div>

  <div class="item is-flex has-margin-bottom-10">
    <span class="icon has-text-grey-light">
      <i class="fas fa-phone"></i>
    </span>
    <span class="has-text-grey has-text-weight-bold">{{ user.phone }}</span>
  </div>

  <div class="item is-flex has-margin-bottom-10">
    <span class="icon has-text-grey-light">
      <i class="fas fa-birthday-cake"></i>
    </span>
    <span class="has-text-grey has-text-weight-bold">{{ user.birthday | date:'longDate' }}</span>
  </div>

  <div class="buttons has-margin-top-20 is-centered">
    <a class="button is-primary is-fullwidth" [routerLink]="['/admin/user', user.id]">
      <span class="icon">
        <i class="fas fa-user-edit"></i>
      </span>
      <span>Editar</span>
    </a>
    <button class="button is-danger is-outlined is-fullwidth" (click)="delete(user.id)">
      <span class="icon">
        <i class="fas fa-user-times"></i>
      </span>
      <span>Eliminar</span>
    </button>
  </div>
</div>
