<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6">
        <div class="card has-text-centered">
          <div class="card-content">
            <p class="title">Gestión de usuarios</p>
            <p class="subtitle has-text-grey-light">Super administrador</p>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item has-text-weight-bold has-text-primary" routerLink="/admin/users">Entrar</a>
          </footer>
        </div>
      </div>

      <div class="column is-6">
        <div class="card has-text-centered">
          <div class="card-content">
            <p class="title">Gestión de empresas</p>
            <p class="subtitle has-text-grey-light">Super administrador</p>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item has-text-weight-bold has-text-primary" routerLink="/admin/companies">Entrar</a>
          </footer>
        </div>
      </div>

      <div class="column is-12">
        <div class="card has-text-centered">
          <div class="card-content">
            <p class="title">Dashboard</p>
            <p class="subtitle has-text-grey-light">Administrador</p>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item has-text-weight-bold has-text-primary" routerLink="/admin/sources">Entrar</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
