<div class="container" *ngIf="companies else loading">
  <div class="has-text-centered has-margin-bottom-20">
    <a class="button is-medium is-primary" routerLink="/admin/company">
      <span class="icon">
        <i class="fas fa-building"></i>
      </span>
      <span>Nueva empresa</span>
    </a>
  </div>

  <div class="columns is-multiline is-centered">
    <div class="column is-6-tablet is-4-desktop" *ngFor="let company of companies; let i = index">
      <app-company-data [company]="company" (deleted)="delete(i)"></app-company-data>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="title has-text-centered is-5 has-text-grey-light">Cargando...</div>
</ng-template>
